<!doctype html>
<html>

   <body>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
   <center>
      <header> <h1> This page lists the Student records </h1>
      </header>
      <br> <br>
	  <form action="{{ url_for('updatedata') }}" method="POST">
      <table border = 1>
         <thead>
            <td>Name</td>
            <td>Grade</td>
            <td>Room</td>
            <td>Telnum</td>
			<td>Picture</td>
			<td>Keywords</td>
         </thead>

         {% for row in msg %}
         <tr>
            <td><input type='text' name="name" value="{{row[0]}}" readonly></input></td>
            <td><input type='text' name="grade" value="{{row[1]}}"></input></td>
			<td><input type='text' name="room" value="{{row[2]}}"></input></td>
            <td><input type='text' name="telnum" value="{{row[3]}}"></input></td>
            <td><label>{{row[4]}}</label></td>
			<td><input type='text' name="keywords" value="{{row[5]}}"></input></td>			
         </tr>
         {% endfor %}
      </table>
	  <br/><br/>
	<input type="Submit" value="Update"/>
</form>
       <br>
      <h2> <a href = "/">Home</a> </h2>
   </body>
</html>