<!doctype html>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<html>
	<body>

		<center>
		<header> <h1> Welcome </h1> </header>
		<br> <br>
		<h2> Assignment1</h2>
		<br>

		<h2><a href = "/upload">Upload CSV file</a></h2>
		<h2><a href = "/functions">Perform Functions</a></h2>
		<h2><a href = "/list">View CSV</a></h2>
		<h2><a href = "/display">View Images</a></h2>
	</body>
</html>