<!doctype html>
<html>

   <body>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
   <center>
      <header> <h1> This page lists the Student records </h1>
      </header>
      <br> <br>
      <table border = 1>
         <thead>
            <td>Name</td>
            <td>Grade</td>
            <td>Room</td>
            <td>Telnum</td>
			<td>Picture</td>
			<td>Keywords</td>
         </thead>

         {% for row in rows %}
         <tr>
            <td>{{row["name"]}}</td>
            <td>{{row["grade"]}}</td>
			<td> {{ row["room"]}}</td>
            <td> {{ row["telnum"]}}</td>
            <td>{{row['picture']}}</td>
			<td>{{row['keywords']}}</td>			
         </tr>
         {% endfor %}
      </table>

      <br>
      <h2> <a href = "/">Home</a> </h2>
   </body>
</html>